.table {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  border-spacing: 0;

  padding: 20px 40px;
  margin-top: 15px;
  margin-bottom: 50px;

  &__col {
    &__header {
      text-align: start;
    }

    &__title {
      text-align: start;
      
      button {
        margin: 5px;
      }
    }
  }
}
